<div>
    <div class="panel border-[#e0e6ed] px-0 pb-1.5 dark:border-[#1b2e4b]">
        <div class="datatable invoice-table">
            <div class="mb-4.5 flex flex-col gap-5 px-5 md:flex-row md:items-center">
                <div class="flex items-center gap-2">
                    <!-- <button type="button" class="btn btn-danger gap-2" (click)="delete()">
                        <icon-trash-lines />
                        Delete
                    </button> -->
                    <h5 class="text-xl font-bold dark:text-white-light">{{ entityLabel }}</h5>
                </div>
                <div class="ltr:ml-auto rtl:mr-auto flex gap-2">
                    <div>
                        <a (click)="add()" class="btn btn-primary gap-2">
                            <icon-plus />
                            Add New
                        </a>
                    </div>
                    <div>
                        <input [(ngModel)]="search" type="text" class="form-input" placeholder="Search..." />
                    </div>
                </div>
            </div>
            <ng-datatable #datatable [rows]="customers" [columns]="cols" [hasCheckbox]="true" [sortable]="true"
                [search]="search" skin="whitespace-nowrap bh-table-hover"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
                <ng-template slot="blnIsFiler" let-value="data">
                    {{ value.blnIsFiler ? 'Yes' : 'No' }}
                </ng-template>
                <ng-template slot="blnStatus" let-value="data">
                    <span class="badge"
                        [ngClass]="[value.blnStatus === true ? 'badge-outline-success' : 'badge-outline-danger']">
                        {{ value.blnStatus ? 'Active' : 'Inactive' }}
                    </span>
                </ng-template>
                <ng-template slot="actions" let-value="data">
                    <div class="flex items-center justify-center gap-4">
                        <a (click)="edit(value)" class="hover:text-info">
                            <icon-edit class="h-4.5 w-4.5" />
                        </a>
                        <button type="button" class="hover:text-danger" (click)="delete(value.serCustomerId)">
                            <icon-trash-lines />
                        </button>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>
    </div>
</div>

<!-- Add/Edit Modal -->
<modal #modal>
    <ng-template #modalHeader> <div>{{form.controls['serCustomerId'].value ? 'Edit' : 'Add'}} {{ entityLabel }} </div> </ng-template>
    <ng-template #modalBody>
        <form class="space-y-2 text-sm" [formGroup]="form" novalidate>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="code">{{ entityCodeLabel }}*</label>
                        <input formControlName="txtCustomerCode" id="code" type="text" [placeholder]="'Enter ' + entityCodeLabel" class="form-input" />
                        <ng-container *ngIf="isSubmit && form.controls['txtCustomerCode'].invalid">
                            <p class="mt-1 text-danger">{{ entityCodeLabel }} is required</p>
                        </ng-container>
                    </div>
                    <div>
                        <label for="name">{{ entityNameLabel }}*</label>
                        <input formControlName="txtCustomerName" id="name" type="text" [placeholder]="'Enter ' + entityNameLabel" class="form-input" />
                        <ng-container *ngIf="isSubmit && form.controls['txtCustomerName'].invalid">
                            <p class="mt-1 text-danger">{{ entityNameLabel }} is required</p>
                        </ng-container>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="cnic">CNIC</label>
                        <input formControlName="txtCnicNo" id="cnic" type="text" placeholder="Enter CNIC" class="form-input" />
                        <ng-container *ngIf="isSubmit && form.controls['txtCnicNo'].invalid">
                            <!--<p class="mt-1 text-danger" *ngIf="form.controls['txtCnicNo'].errors?.['required']">CNIC is required</p>-->
                            <p class="mt-1 text-danger" *ngIf="form.controls['txtCnicNo'].errors?.['pattern']">Invalid CNIC format. Please use the format: 12345-1234567-1</p>
                        </ng-container>
                    </div>
                    <div>
                        <label for="ntn">NTN*</label>
                        <input formControlName="txtNtnNo" id="ntn" type="text" placeholder="Enter NTN" class="form-input" />
                        <ng-container *ngIf="isSubmit && form.controls['txtNtnNo'].invalid">
                            <p class="mt-1 text-danger">NTN is required</p>
                        </ng-container>
                    </div>
                </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div [formGroup]="cfgTblCountry">
                    <label for="country">Country*</label>
                    <select id="country" class="form-select text-white-dark" formControlName="serCountryId" (change)="onChangeCountry($event)">
                        <option value="null">Select Country</option>
                        <option *ngFor="let country of countries" value="{{country.serCountryId}}">
                            {{country.txtName}}
                        </option>
                    </select>
                    <ng-container *ngIf="isSubmit && cfgTblCountry.controls['serCountryId'].invalid">
                        <p class="mt-1 text-danger">Country is required</p>
                    </ng-container>
                </div>
                <div [formGroup]="cfgTblCity">
                    <label for="city">City*</label>
                    <select id="city" class="form-select text-white-dark" formControlName="serCityId">
                        <option value="null">Select City</option>
                        <option *ngFor="let city of filteredCities" value="{{city.serCityId}}">
                            {{city.txtCityName}}
                        </option>
                    </select>
                    <ng-container *ngIf="isSubmit && cfgTblCity.controls['serCityId'].invalid">
                        <p class="mt-1 text-danger">City is required</p>
                    </ng-container>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="landline">Landline</label>
                    <input formControlName="txtPhoneNo" id="landline" type="text" placeholder="Enter Landline" class="form-input" />
                </div>
                <div>
                    <label for="mobile">Mobile No.*</label>
                    <input formControlName="txtPhoneNo2" id="mobile" type="text" placeholder="Enter Mobile No." class="form-input" />
                    <ng-container *ngIf="isSubmit && form.controls['txtPhoneNo2'].invalid">
                        <p class="mt-1 text-danger">Mobile No. is required</p>
                    </ng-container>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="sap">SAP ID*</label>
                    <input formControlName="txtSapNo" id="sap" type="text" placeholder="Enter SAP ID" class="form-input" />
                    <ng-container *ngIf="isSubmit && form.controls['txtSapNo'].invalid">
                        <p class="mt-1 text-danger">SAP ID is required</p>
                    </ng-container>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input formControlName="txtEmailAddress" id="email" type="text" placeholder="Enter Email" class="form-input" />
                    <ng-container *ngIf="isSubmit && form.controls['txtEmailAddress'].invalid">
                        <!--<p class="mt-1 text-danger" *ngIf="form.controls['txtCnicNo'].errors?.['required']">CNIC is required</p>-->
                        <p class="mt-1 text-danger" *ngIf="form.controls['txtEmailAddress'].errors?.['email']">Invalid Email format. Please use the format: admin@admin.com</p>
                    </ng-container>
                </div>
            </div>
            <div>
                <label for="strn">STRN</label>
                <input formControlName="txtSTR" id="strn" type="text" placeholder="Enter STRN" class="form-input" />
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="billingAddress">Billing Address</label>
                    <textarea formControlName="txtBillingAddress" id="billingAddress" rows="3" class="form-textarea" placeholder="Enter Billing Address"></textarea>
                    <ng-container *ngIf="isSubmit && form.controls['txtBillingAddress'].invalid">
                        <p class="mt-1 text-danger">Billing Address is required</p>
                    </ng-container>
                </div>
                <div>
                    <label for="shippingAddress">Shipping Address</label>
                    <textarea formControlName="txtShippingAddress" id="shippingAddress" rows="3" class="form-textarea" placeholder="Enter Shipping Address"></textarea>
                    <ng-container *ngIf="isSubmit && form.controls['txtShippingAddress'].invalid">
                        <p class="mt-1 text-danger">Shipping Address is required</p>
                    </ng-container>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label class="inline-flex">
                        <input type="checkbox" class="form-checkbox" [(ngModel)]="blnIsFiler" [ngModelOptions]="{standalone: true}"/>
                        <span>Filer</span>
                    </label>
                </div>
                <div *ngIf="form.controls['serCustomerId'].value">
                    <label class="inline-flex">
                        <input type="checkbox" class="form-checkbox" [(ngModel)]="blnStatus" [ngModelOptions]="{standalone: true}"/>
                        <span>Active</span>
                    </label>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <button type="button" (click)="modal.close()" class="btn btn-outline-danger">Close</button>
        <button type="button" (click)="submit()" class="btn btn-primary ltr:ml-4 rtl:mr-4">Save</button>
    </ng-template>
</modal>
