<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <div class="flex items-center justify-center">
                    <a routerLink="/" class="main-logo flex shrink-0 items-center">
                        <img class="ml-[5px] w-16 flex-none" src="assets/images/qarshi-logo.png" alt="" />
                        <span
                            class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline">Qarshi</span>
                    </a>
                </div>
                <a href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>

            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">

                <ng-container *ngIf="menus && menus.length > 0 && isDashboardPresent">
                    <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                        <li class="nav-item">
                            <a routerLink="/Dashboard" class="group" routerLinkActive="active"
                                (click)="toggleMobileMenu()">
                                <div class="flex items-center">
                                    <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />
                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                        {{ 'home' | translate }}
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </ng-container>


                <ng-container *ngIf="menus && menus.length > 0">
                    <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                        <ng-container *ngFor="let menu of menus">
                            <li *ngIf="menu.canViewSubmenu" class="accordion menu nav-item">
                                <button type="button" class="nav-link group w-full"
                                    [ngClass]="{ active: activeDropdown.includes(menu.menuName) }"
                                    (click)="toggleAccordion(menu.menuName)">
                                    <div class="flex items-center">
                                        <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />
                                        <span
                                            class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                            {{ menu.menuName }}
                                        </span>
                                    </div>
                                    <div *ngIf="isSubMenuExist(menu.subMenus)"
                                        [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes(menu.menuName) }">
                                        <icon-caret-down />
                                    </div>
                                </button>

                                <div *ngIf="isSubMenuExist(menu.subMenus)"
                                    [@slideDownUp]="!activeDropdown.includes(menu.menuName)" class="accordion-content">
                                    <ul class="sub-menu text-gray-500">
                                        <ng-container *ngFor="let sm of menu.subMenus">
                                            <li *ngIf="canViewMenu(sm.roles)">
                                                <a [routerLink]="sm.subMenuAction" routerLinkActive="active"
                                                    (click)="toggleMobileMenu()">
                                                    {{ getDisplaySubMenuName(sm.subMenuName) }}
                                                </a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </ng-container>
            </ng-scrollbar>


        </div>
    </nav>
</div>
