<div class="grid grid-cols-2 gap-6 xl:grid-cols-2">
    <div class="panel">
        <div class="mb-5 flex items-center justify-between">
            <h5 class="text-lg font-semibold dark:text-white-light">Change Password</h5>
        </div>
        <div class="mb-5">
            <form [formGroup]="form" (ngSubmit)="save()" class="space-y-5" novalidate>
                <div>
                    <label for="currPassword">Current Password*</label>
                    <input formControlName="oldPass" id="currPassword" type="password" placeholder="Enter Current Password" class="form-input"/>
                    <ng-container *ngIf="isSubmit && form.controls['oldPass'].invalid">
                        <p class="mt-1 text-danger">Current Password is required</p>
                    </ng-container>
                </div>
                <div>
                    <label for="newPassword">New Password*</label>
                    <input formControlName="newPass" id="newPassword" type="password" placeholder="Enter New Password" class="form-input"/>
                    <ng-container *ngIf="isSubmit && form.controls['newPass'].invalid">
                        <p class="mt-1 text-danger">New Password is required</p>
                    </ng-container>
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password*</label>
                    <input formControlName="confirmPass" id="confirmPassword" type="password" placeholder="Enter Confirm Password" class="form-input"/>
                    <ng-container *ngIf="isSubmit && form.controls['confirmPass'].invalid">
                        <p class="mt-1 text-danger">Confirm Password is required</p>
                    </ng-container>
                    <ng-container *ngIf="isSubmit && isUnmatched">
                        <p class="mt-1 text-danger">Confirm Password does not match</p>
                    </ng-container>
                </div>
                <button type="submit" class="btn btn-primary !mt-6">Save</button>
            </form>
        </div>
    </div>
</div>