<div>
    <div class="panel border-[#e0e6ed] px-0 pb-1.5 dark:border-[#1b2e4b]">
        <div class="mb-4.5 flex flex-col gap-5 px-5 md:flex-row md:items-center">
            <div class="flex items-center gap-2">
                <h5 class="text-xl font-bold dark:text-white-light">CAPF</h5>
            </div>
            <div class="ltr:ml-auto rtl:mr-auto flex gap-2">
                <div>
                    <input [(ngModel)]="search" type="text" class="form-input" placeholder="Search..." />
                </div>
            </div>
        </div>
        <div class="px-5 pb-5">
            <div class="rounded-md border border-[#e0e6ed] bg-white p-5 dark:border-[#1b2e4b] dark:bg-[#1b2e4b]">
                <p class="text-gray-600 dark:text-gray-400">
                    CAPF page content will be displayed here.
                </p>
            </div>
        </div>
    </div>
</div>

